.glass {
    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px #4747470b;
    backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    @apply border-2 border-gray-50 shrink-0 h-[90%] w-[40%] rounded-3xl py-10 px-7;
}

.profile_img {
    @apply border-2 border-gray-100 w-[100px] rounded-full shadow-lg cursor-pointer;
    @apply hover:border-gray-200;
}

.textbox {
    @apply border-0 mt-2 shadow-sm text-lg w-full px-3 py-2 text-gray-700 rounded-lg;
}

.textbox:focus {
    @apply outline-none;
}

.btn {
    @apply border bg-indigo-500 w-full py-2 px-3 rounded-lg text-gray-50 text-xl shadow-sm text-center;
}

.btn:hover {
    background-color: #ff6a6a;
}